.env
.flaskenv
config/accounts.yaml
__pycache__/
*.pyc
.venv/
venv/
logs/
*.egg-info/
dist/
build/
.pytest_cache/

# Database
*.db
*.db-journal
*.sqlite
*.sqlite3

# Gunicorn
gunicorn.pid

# Migrations
migrations/versions/*.pyc
